.flexContainer {
  composes: center from '@/styles/utils.module.css';
}

.toast {
  font-size: 0.8em;
}

.contactContainer {
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
  width: 60%;
}

.inputContainer {
  margin-top: 1em;
}

.labelTitle {
  font-size: var(--heading2);
  letter-spacing: 0.15em;
  color: var(--base-text);
  display: flex;
  align-items: center;
  gap: 1em;
}

.contactInput {
  -webkit-appearance: none;
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  caret-color: #8953a2;
  padding: 0.9em 1.2em;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px hsl(0deg 0% 100% / 69%),
    -1px -1px 2px rgb(0 0 0 / 10%), inset -2px -2px 3px hsl(0deg 0% 100% / 69%),
    inset 2px 2px 6px rgb(0 0 0 / 12%);
  margin-top: 0.75em;
  width: 100%;
  color: var(--base-text);
  font-weight: 700;
}

.textArea {
  -webkit-appearance: none;
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  caret-color: #8953a2;
  padding: 0.9em 1.2em;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px hsl(0deg 0% 100% / 69%),
    -1px -1px 2px rgb(0 0 0 / 10%), inset -2px -2px 3px hsl(0deg 0% 100% / 69%),
    inset 2px 2px 6px rgb(0 0 0 / 12%);
  margin-top: 0.75em;
  width: 100%;
  height: 15rem;
  color: var(--base-text);
  font-weight: 700;
  resize: none;
}

.validationText {
  font-size: 0.5em;
  color: #da2f82;
}

.submitButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.submitButton {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 6px #b4b6bf, -3px -3px 6px#fff;
  background-color: #e7e8ef;
  border-width: 2px;
  border-style: solid;
  border-color: #d6d9ef;
  color: var(--base-text);
  font-weight: 700;
}

@media (hover: hover) {
  .submitButton:hover {
    background-color: #e7e8ef;
    box-shadow: inset -3px -3px 6px #fff, inset 3px 3px 6px #b4b6bf;
  }
}
