.flexContainer {
  composes: sideBySideCenter from '@/styles/utils.module.css';
  padding: 1em 0em;
}

.text {
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
}

.typeText {
  font-size: var(--heading2);
  color: var(--base-text);
  font-weight: 500;
}

.avatar {
  width: 65%;
  max-width: 400px;
}

.avatarBoxFirst {
  padding: 16px;
  border-radius: 3996px;
  border-color: #d6d9ef;
  border-width: 2px;
  border-style: solid;
  background-color: #e7e8ef;
  box-shadow: inset -3px -3px 6px #fff, inset 3px 3px 6px #b4b6bf;
}

.avatarBoxSecond {
  padding: 24px;
  margin: 4px;
  border-radius: 3996px;
  border-color: #d6d9ef;
  border-width: 2px;
  border-style: solid;
  background-color: #e7e8ef;
  box-shadow: 3px 3px 6px #b4b6bf, -3px -3px 6px#fff;
}

.avatarImage {
  border-radius: 50%;
}

@media (min-width: 768px) {
  .avatar {
    width: 50%;
  }
}
