.wrapper {
  padding: var(--space-lg) 0;
}

.flexContainer {
  composes: center from '@/styles/utils.module.css';
  flex-direction: column;
  gap: 2em;
}

.socialIconContainer {
  composes: center from '@/styles/utils.module.css';
}

.socialIcon {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 50%;
  margin: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 3px 3px 6px #b4b6bf, -3px -3px 6px#fff;
  background-color: #e7e8ef;
  border-width: 2px;
  border-style: solid;
  border-color: #d6d9ef;
}

@media (hover: hover) {
  .socialIcon:hover {
    background-color: #e7e8ef;
    box-shadow: inset -3px -3px 6px #fff, inset 3px 3px 6px #b4b6bf;
  }
}

.copyrightText {
  color: var(--c-brand-primary);
}
